WPFStudent/Service References/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58021/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFStudent1" />
  <xs:element name="IsResultID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resultID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsResultIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsResultIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResults">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="GetAllResultsResult" nillable="true" type="q1:ArrayOfvwResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="result" nillable="true" type="q2:vwResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="AddResultsResult" nillable="true" type="q3:vwResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResultsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="GetResultsDetailResult" nillable="true" type="q4:vwResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubjectByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubjectByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="getSubjectByIDResult" nillable="true" type="q5:vwSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSubjectID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSubjectIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSubjectIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="GetSubjectListResult" nillable="true" type="q6:ArrayOfvwSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="subject" nillable="true" type="q7:vwSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="AddSubjectResult" nillable="true" type="q8:vwSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="GetOneSubjectResult" nillable="true" type="q9:vwSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="getStudentByIDResult" nillable="true" type="q10:vwStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsStudentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsStudentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsStudentIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="GetStudentListResult" nillable="true" type="q11:ArrayOfvwStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="student" nillable="true" type="q12:vwStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="AddStudentResult" nillable="true" type="q13:vwStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFStudent1" minOccurs="0" name="GetOneStudentResult" nillable="true" type="q14:vwStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>